@page
@model CoralCoastResort.Web.Pages.RoomSearch

@{
    Layout = "Shared/_Layout";
}

<form method="post">
    <div class="form-group">
        <label asp-for="StartDate" />
        <input asp-for="StartDate" />
    </div>
    <div class="form-group">
        <label asp-for="EndDate" />
        <input asp-for="EndDate" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model.AvailableRoomTypes?.Count > 0)
{
    <br />
    <h2>Results</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Room Type</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model.AvailableRoomTypes)
            {
                <tr>
                    <td>
                        <strong>@room.Title</strong><br />
                        @room.Description
                    </td>
                    <td>@($"{room.Price:C}") / night</td>
                    <td><a asp-page="./BookRoom" asp-route-roomtypeid="@room.Id" 
                           asp-route-startdate="@Model.StartDate.ToShortDateString()" 
                           asp-route-enddate="@Model.EndDate.ToShortDateString()"
                           class="btn btn-primary">Book Now</a></td>
                </tr>
            }
        </tbody>
    </table>
}